body
{
  overflow-y:hidden;
  font-family: 'Crafty Girls', arial, serif;
  background: #fbe34b;
  text-align:center;
  margin: 0 auto;
/*height:100%;*/
}

#result1 { 
  margin-top:64px;
}

a:visited{
  color:#000000;
  text-decoration:none;
  font-weight:bolder;
}

a:link{
  color:#000000;
  text-decoration:none;
  font-weight:bolder;
}

#top {
//  background-color: #fbe34b;
  height:100px;
  width:100%;
  position:absolute;
  left:0; top:0;
  z-index:999;
  border:0px solid black;
}

#playback {
  position:absolute;
  top:0;
  right:0;
}

#values {
  left:0;
  top:0;
  position:absolute;
  font-size:60px;
  text-align:center;
  margin: 0 auto;
  z-index:0;
  width:100%;
}

#saveurl {
  display:none;
}

#esaveurl {
  display:none;
}

.name {
  overflow-x:hidden;
  display:block;
}

.biglink {
  font-size:80px;
  width:100%;
  color:#fbe34b;
//  background-color:#000000;
  height:140px;
  padding-left:20px;
}

.elink {
  font-size:20px;
  width:100%;
  color:#fbe34b;
//  background-color:#000000;
  height:40px;
  padding-left:20px;
}

.extra {
font-size:25px;
cursor: pointer;
}

.extra a {cursor:pointer; color:#FBE34B;}
.extra a:hover{text-decoration:underline;}
a:hover {text-decoration:underline;}

.button
{
width:20%;
font-size:12px;
font-family:arial, serif;
}

.gobutton {
  font-family: 'Crafty Girls', arial, serif;
  margin-top:4px;
  width:20%;
  font-size:12px;
}
.options {
  font-family: 'Crafty Girls', arial, serif;
  margin-top:4px;
  font-size:12px;
}
.option {
  font-family: 'Crafty Girls', arial, serif;
  margin-top:4px;
  font-size:12px;
}
#footer {
  position:fixed;
  top:0px;
  right:0px;
  height:30px;
  margin-right:10px;
}

#popdown {
  top: 345px;
  bottom: 20px;
  width:100%;
  margin:0 auto;
  margin-top:6px;
}

.inbox {
  color:#000000;
  font-size: 25px;
}

#saveload {
  display:none;
  margin-top:195px;
}
#whatleft {
  float:left;
  width:40%;
}
#whatright {
  float:left;
  width:350px;
}
#help {
  display:none;
  padding:25px 10px 10px 10px;
  min-height:350px;
#  position:relative;
  margin-top:260px;
#  height:1000px;
#  font-family:arial;
  margin:0 auto;
  width:100%;
  display:none;
#  height:100%;

}

#names {
  margin:0 auto;
  width:30%;
  display:none;
  height:65%;
}

#namesbox {
  width:100%;
  padding:25px 10px 10px 10px;
  min-height:350px;
  height:500px;
//  position:relative;
  margin-top:100px;
//  background:#f9f9f9;
  font-size:20px;
  font-family:arial;
  border:1px solid #ccc;
}

#countdown {
  display:none;
  position:fixed;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
//  background-color:#000;
  margin:0 auto;
  z-index:9;
  width:100%;
  font-size:60px;
  color:#fff;
}

#logo
{
//background-color:#FBE34B;
  margin-bottom:0;
  margin-left:auto;
  margin-right:auto;
  margin-top:0;
  top:0px;
  width:100%;
  z-index:9;
  height: 200px;
}

.furrghtd{
  z-index:999999 !important;
}

@media screen and (max-width: 600px){
  .gobutton{
    width:20%;
  }
  #values{
    font-size:40px;
    top:216px;
  }
  #values > div{
    height:auto !important;
  }
}
span
{
    display: inline;/* for IE7*/
    *zoom:1;/* for IE7*/
    min-width: 150px;
}
